@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Bodoni+Moda:ital,wght@0,400;0,500;1,400&family=Cormorant+Garamond:ital,wght@0,300;1,300&family=Grandiflora+One&family=Playfair+Display+SC:ital@0;1&family=Playfair:wght@300&family=Saira+Condensed&display=swap');

$primary-font:'Playfair Display SC';
$secondary-font-badScript: 'Bad Script';
$secondary-font-cormorant: 'Cormorant Garamond';
$primary-color-grey: #555;
$primary-color-black: #1c1c1c;

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  font-family: $secondary-font-cormorant;
  color: $primary-color-grey;
  text-transform: capitalize;
}

p {
  font-family: $primary-font;
  color: $primary-color-grey;
  text-transform: capitalize;
}

button {
  background: none;
  border: none;
}
