@import './common.scss';

.hero-section {
  background-color: rgb(250, 250, 250);
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 1;
  padding: 100px 20px 0 0;
}

.hero-center {
  display: flex;
  flex-direction: row;
  height: 90%;
  justify-content: center;
  align-items: flex-end;
}

.scroll-right {
  display: none;
}

.name-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;

  transform: rotate(0.75turn);
  margin-top: -60px;
}

.name-container h1 {
  font-size: 60px;
  font-family: $primary-title;
  font-weight: 100;
  margin: 0;
  text-transform: uppercase;
}

.text-container {
  align-self: self-start;
}

.text-container h2 {
  font-family: $secondary-font-noto;
  font-style: italic;
  font-weight: 100;
  font-size: 15px;
  text-align: right;
}

@media (min-width: 768px) {
  .hero-center {
    display: flex;
    flex-direction: column;
    height: 100%;
    height: 100%;
  }

  .name-container {
    transform: none;
  }
  .home-container {
    display: flex;
    width: 100%;
    border-bottom: 0.4px solid black;
    font-family: $primary-title;
    min-height: 200px;
    
  }
  .link-container {
    width: 8%;
    border-right: 0.5px solid black;
    height: 100%;
    display: flex;
    align-items: end;
    padding: 10% 1.4%;
  }

  .text-container {
    width: 85%;
    h1 {
      font-size: 140px;
      text-transform: capitalize;
    }
  }

  .link-rotate  {
    transform: rotate(0.75turn);
    font-family: $primary-title;
  }
}
//   .hero-section {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     padding: 30% 0;

//     main {
//       width: 100%;
//     }
//   }

//   .hero-center {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//   }

//   .name-container {
//     transform: none;
//     width: 100%;
//     gap: 30px;
//     padding: 20% 0 0 0;
//   }

//   .name-container h1 {
//     font-size: 160px;
//     padding-top: 10px;
//     margin: 0;
//     border-top: 0.2px solid;
//     width: 100%;
//   }

//   .scroll-right {
//     display: flex;

//     p {
//       font-family: $secondary-font-badScript;
//       transform: rotate(0.75turn);
//       font-size: 15px;
//       border-bottom: 0.1px solid;
//       text-align: center;
//       white-space: nowrap;
//     }
//   }

//   .text-container {
//     align-self: flex-end;
//     width: 500px;
//     text-align: end;

//     h2 {
//       font-size: 25px;
//       padding: 20px;
//     }
//   }

//   .andrea {
//     text-align: left;
//     padding-left: 120px;
//   }

//   .rivas {
//     text-align: right;
//     padding-right: 20px;
//   }

//   @media (max-height: 1000px) {
//     .name-container h1 {
//       font-size: 120px;
//     }
//   }
// }

// @media (min-width: 1000px) {
//   .name-container h1 {
//     font-size: 140px;
//     font-weight: 100;
//     z-index: 12;
//     width: 100%;
//   }

//   .andrea {
//     padding-left: 14%;
//   }

//   .rivas {
//     padding-right: 14%;
//   }

//   .text-container {
//     text-align: right;
//     width: 600px;

//     h2 {
//       font-size: 30px;
//     }
//   }

//   @media (max-height: 910px) {
//     .name-container {
//       padding: 25% 0 0 0;
//       gap: 0;
//     }

//     .name-container h1 {
//       font-size: 100px;
//     }
//   }
// }

// @media (min-width: 1100px) {
//   @media (max-height: 810px) {
//     .name-container h1 {
//       font-size: 120px;
//     }
//   }
// }

// @media (min-width: 1200px) {
//   @media (max-height: 810px) {
//     .name-container h1 {
//       font-size: 130px;
//     }
//   }
// }

// @media (min-width: 1300px) {

//     .name-container {
//       padding: 15% 0 0 0;
//     }

//     .name-container h1 {
//       font-size: 140px;
    
//   }
// }

// @media (min-width: 1400px) {
//   .name-container h1 {
//     font-size: 160px;
//   }
// }

// @media (min-width: 1600px) {
//   .name-container h1 {
//     font-size: 180px;
//   }
// }

// @media (min-width: 1800px) {
//   .name-container h1 {
//     font-size: 200px;
//   }
// }
