@import './common.scss';

/* Common styles for all screen sizes- */
.hero-section {
  background-color: rgb(250, 250, 250);
  width: 100%;
  height: calc(100vh - 93px);
  position: relative;
  z-index: 1;
  top: 0;
  padding: 20px;
}

.hero-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

.name-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}

.name-container h1 {
  font-size: 50px;
  font-family: $primary-title;
  font-weight: 100;
  margin: 0;
  text-transform: uppercase;
}

.name-container.contact {
  font-size: 15px;
  margin: 0;
}

.text-container {
  align-self: self-start;
}

.text-container h2 {
  font-family: $secondary-font-noto;
  font-style: italic;
  font-weight: 100;
  font-size: 15px;
  text-align: right;
}

@media (max-width: 767px) {
  .scroll-right {
    display: none;
  }

  .hero-center {
    height: 100%;
    display: flex;
  }

  .home-container {
    width: 100%;
  }

  .home-container:first-child {
    display: none;
  }

  .home-container:nth-child(4) {
    height: 100%;
    border-bottom: none;
    display: flex;
    justify-content: flex-end;
  }

  .home-container:nth-child(2) {
    width: 70px;
  }

  .home-container:nth-child(3) {
    width: 70px;
  }

  .link-container {
    display: none;
  }

  .name-container.about,
  .name-container.works {
    transform: rotate(0.75turn);
    width: 70px;
    border-bottom: none;
  }

  .name-container.contact {
    border-bottom: none;
    text-align: right;
    width: 120px;
  }

  .text-container h1 {
    font-size: 70px;
    font-weight: 100;
    font-family: $primary-title;
    text-transform: uppercase;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.442);
  }

  @media (min-width: 375px) {
    .text-container h1 {
      font-size: 90px;
    }

    .home-container:nth-child(2) {
      width: 90px;
    }

    .home-container:nth-child(3) {
      width: 90px;
    }

    .name-container.about,
    .name-container.works {
      width: 90px;
    }

    .name-container.contact {
      width: 140px;
      font-size: 18px;
    }
  }

  @media (min-width: 425px) {
    .text-container h1 {
      font-size: 90px;
    }

    .home-container:nth-child(2) {
      width: 100px;
    }

    .home-container:nth-child(3) {
      width: 100px;
    }

    .name-container.about,
    .name-container.works {
      width: 100px;
    }
  }

  @media (min-width: 500px) {
    .text-container h1 {
      font-size: 100px;
    }

    .home-container:nth-child(2) {
      width: 110px;
    }

    .home-container:nth-child(3) {
      width: 110px;
    }

    .name-container.about,
    .name-container.works {
      width: 110px;
    }

    .name-container.contact {
      width: 200px;
      font-size: 20px;
    }
  }

  @media (min-width: 600px) {
    .text-container h1 {
      font-size: 120px;
    }

    .home-container:nth-child(2) {
      width: 120px;
    }

    .home-container:nth-child(3) {
      width: 120px;
    }

    .name-container.about,
    .name-container.works {
      width: 120px;
    }

    .name-container.contact {
      width: 200px;
      font-size: 25px;
    }
  }
}

@media (min-width: 768px) {
  .hero-section {
    padding: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .hero-center {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: hidden;
    width: 100%;
  }

  .home-container {
    display: flex;
    width: 100%;
    border-bottom: 0.4px solid black;
    font-family: $primary-title;
    height: 25%;
  }

  .link-container {
    width: 50px;
    border-right: 0.5px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 2px;
  }

  .link-rotate {
    transform: rotate(0.75turn);
    font-family: $primary-title;
  }

  .text-container {
    width: calc(100% - 50px);
    padding: 0 20px;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .name-container {
    transform: none;
    margin: 0;
    padding: 0;
    font-size: 120px;
    font-weight: 100;
    text-transform: uppercase;
    height: 80%;
  }

  .name-container.about {
    justify-self: flex-start;
    text-align: left;
    width: 100%;
  }

  .name-container.works {
    text-align: right;
  }

  .name-container.contact {
    font-size: 24px;
    text-align: right;
  }

  .scroll-right {
    position: relative;
    z-index: 10;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding-right: 20px;

    p {
      font-family: $secondary-font-badScript;
      transform: rotate(0.75turn);
      font-size: 17px;
      border-bottom: 0.1px solid;
      text-align: center;
      white-space: nowrap;
      width: 100%;
    }

    .arrow {
      font-size: 25px;
    }
  }

  /* Animations for the hover effect of the links */

  .home-container.section-hovered {
    animation: gradientAnimation 1s linear forwards;
  }

  .section-hovered-title {
    font-size: 120px;
    font-weight: 100;
    text-transform: uppercase;
    color: $primary-color-grey;
    text-align: center;
    width: 100%;
    height: 90%;
  }

  @keyframes gradientAnimation {
    0% {
      background-position: 0 0;
    }

    50% {
      background-position: 50% 0;
    }

    100% {
      background-position: 100% 0;
      background-color: black;
    }
  }

  /* Adjuctaments of font sizes for every screen size */

  @media (min-height: 600px) {
    .name-container {
      font-size: 130px;
    }
  }

  @media (min-height: 700px) {
    .name-container {
      font-size: 130px;
    }
  }

  @media (min-height: 800px) {
    .name-container {
      font-size: 140px;
    }

    .name-container.contact {
      font-size: 27px;
    }
  }

  @media (min-height: 900px) {
    .name-container.contact {
      font-size: 28px;
    }

    .section-hovered-title {
      font-size: 160px;
    }
  }

  @media (min-height: 1000px) {
    .name-container {
      font-size: 160px;
    }

    .section-hovered-title {
      font-size: 170px;
      height: 85%;
    }
  }

  @media (min-height: 1200px) {
    .section-hovered-title {
      height: 82%;
    }
  }
}

@media (min-width: 1000px) {
  .text-container {
    padding: 0 5%;
    align-items: center;
  }

  .section-hovered-title {
    font-size: 120px;
  }

  @media (min-height: 700px) {
    .name-container {
      font-size: 140px;
    }
  }

  @media (min-height: 800px) {
    .name-container {
      font-size: 150px;
    }

    .name-container.contact {
      font-size: 30px;
    }
  }

  @media (min-height: 900px) {
    .name-container {
      font-size: 160px;
    }

    .name-container.contact {
      font-size: 32px;
    }

    .section-hovered-title {
      font-size: 160px;
    }
  }
}

@media (min-width: 1100px) {
  .name-container {
    font-size: 150px;
  }

  .section-hovered-title {
    font-size: 160px;
  }

  .name-container.contact {
    font-size: 33px;
  }

  @media (min-height: 700px) {
    .name-container {
      font-size: 160px;
    }
  }

  @media (min-height: 800px) {
    .name-container {
      font-size: 170px;
    }

    .name-container.contact {
      font-size: 35px;
    }
  }

  @media (min-height: 900px) {
    .name-container {
      font-size: 180px;
    }

    .name-container.contact {
      font-size: 37px;
    }

    .section-hovered-title {
      font-size: 180px;
    }
  }

  @media (min-height: 1000px) {
    .name-container {
      font-size: 190px;
    }

    .name-container.contact {
      font-size: 40px;
    }

    .section-hovered-title {
      font-size: 190px;
    }
  }
}

@media (min-width: 1300px) {
  .logo-navbar {
    width: 300px;
  }

  .name-container.about {
    padding-left: 50px;
  }

  .name-container.works {
    padding-right: 50px;
  }

  .name-container {
    font-size: 150px;
  }

  .name-container.contact {
    font-size: 35px;
  }

  .section-hovered-title {
    font-size: 150px;
  }
}

@media (min-width: 1400px) {
  .name-container {
    font-size: 160px;
  }

  .section-hovered-title {
    font-size: 160px;
  }
}

@media (min-width: 1600px) {
  .name-container {
    font-size: 170px;
  }

  .name-container.contact {
    font-size: 40px;
  }

  .section-hovered-title {
    font-size: 170px;
  }

  .name-container.about {
    padding-left: 100px;
  }

  .name-container.works {
    padding-right: 100px;
  }
}

@media (min-width: 1800px) {
  .logo-navbar {
    width: 400px;
  }

  .name-container {
    font-size: 200px;
  }

  .name-container.contact {
    font-size: 45px;
  }

  .section-hovered-title {
    font-size: 200px;
  }

  .name-container.about {
    padding-left: 100px;
  }

  .name-container.works {
    padding-right: 100px;
  }
}
