@import './common.scss';

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 16px;
  position: absolute;
  z-index: 10;
  background-color: rgba(245, 222, 179, 0);
  top: 0;
  left: 0;
  width: 100%;
}

.logo-navbar {
  width: 220px;
}

.hamburger-icon {
  font-size: 30px;
  color: $primary-color-black;
}

.nav-links {
  display: none;
  flex-direction: column;
  gap: 15px;
}

.say-hello {
  font-family: $secondary-font-badScript;
  text-transform: capitalize;
  font-size: 30px;
  color: $primary-color-black;
  cursor: pointer;
}

.phone-container {
  display: none;

  /* Other styles for the container */
}

@media (min-width: 768px) {
  .navbar {
    justify-content: flex-end;
    gap: 25%;
  }

  .hamburger-btn {
    display: none;
  }

  .logo-navbar {
    width: 220px;
    position: absolute;
    z-index: 10;
    top: 20px;
    left: 40%;
  }

  .phone-container {
    display: block;
  }

  .nav-links {
    display: flex;
    position: absolute;
    z-index: 10;
    height: 100vh;
    top: 0;
    left: 0;
    border-right: 1px solid black;
    justify-content: space-around;
    gap: 170px;
    padding: 20% 0;
  }

  .nav-link-rotate {
    transform: rotate(0.75turn);
  }

  @media (max-height: 1000px) {
    .nav-links {
      padding: 13% 0;
      gap: 120px;
    }
  }
}

.nav-link {
  height: 0;
  font-size: 14px;
}

@media (min-width: 1000px) {
  @media (max-height: 800px) {
    .nav-links {
      padding: 20% 0;
      gap: 150px;
    }
  }
}

@media (min-width: 1100px) {
  @media (max-height: 800px) {
    .nav-links {
      padding: 8% 0;
      gap: 150px;
    }
  }
}

@media (min-width: 1200px) {
  @media (max-height: 800px) {
    .nav-links {
      padding: 7% 0;
      gap: 150px;
    }
  }
}

@media (min-width: 1300px) {
  @media (max-height: 800px) {
    .nav-links {
      padding: 5% 0;
      gap: 100px;
    }
  }
}

@media (min-width: 1400px) {
  @media (max-height: 800px) {
    .nav-links {
      padding: 5% 0;
      gap: 100px;
    }
  }

  .nav-links {
    padding: 5% 0;
    gap: 150px;
  }
}

@media (min-width: 1500px) {
  @media (max-height: 800px) {
    .nav-links {
      padding: 3% 0;
      gap: 70px;
    }
  }
}

@media (min-width: 1600px) {
  .nav-link {
    font-size: 24px;
  }

  .logo-navbar {
    width: 500px;
  }

  @media (max-height: 1000px) {
    .nav-links {
      padding: 0;
    }
  }
}
