@import './common.scss';

.sidebar {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  transition: all 1s ease-in-out;
  transform: translateX(100%);
}

.sidebar.show-sidebar {
  opacity: 1;
  visibility: inherit;
  transform: translateX(0%);
}

.sidebar-content {
  height: 100%;
  width: 100%;
  background-color: rgba(91, 81, 79, 0.966);
  color: rgb(225, 222, 207);
  display: flex;
  flex-direction: column;
}

.sidebar-header {
  display: flex;
  align-items: center;
  height: 90px;
  padding: 20px;
  border-bottom: 0.4px solid rgb(225, 222, 207);
}

.sidebar-links {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 30px;
  padding: 20px;
  overflow-y: auto;
}

.sidebar-link-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

.number-menu {
  color: rgb(225, 222, 207);
  font-size: 15px;
}

.sidebar-link {
  opacity: 0;
  transform: translate(0%, 200px);
  transition: transform 2s ease-in-out;
  color: rgb(225, 222, 207);
  font-size: 70px;
  padding-right: 10px;
  font-family: $primary-title;
  font-weight: 100;
  text-transform: capitalize;
}

.sidebar-link.nav-active {
  opacity: 1;
  transform: translate(0, 0);
}
