@import './common.scss';

.sidebar {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}


.sidebar-content {
  height: 100%;
  width: 100%;
  background-color: rgba(91, 81, 79, 0.966);
  color: rgb(225,222,207);
  display: flex;
  flex-direction: column;
}

.sidebar-header {
  display: flex;
  align-items: center;
  height: 70px;
  padding: 0 20px;
  border-bottom: 0.4px solid rgb(225,222,207);
}

.sidebar.show-sidebar {
  display: flex;
}



.sidebar-links  {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 30px;
  padding: 20px;
  overflow-y: auto;
}

.sidebar-links a {
  color: rgb(225,222,207);
  font-size: 70px;
  padding-right: 10px;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  font-family: $primary-title;
  font-weight: 100;
  text-transform: capitalize;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 3px;
}

.sidebar-links li {
  width: 100%;
}

.number-menu {
  font-size: 10px;
}
